<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="PaginaPrincipal/index.css">

  <title>Menu Principal</title>

</head>

<body>
<label th:text="${idUsuario}" name="idUsuario" id="idUsuario" style="display: none;"/>
  <header>
    <div class="logo">
      <img id="imagen_logo" src="PaginaPrincipal/Imagenes/casino.png" />
    </div>
    <div class="botones">

      
      <div class="cuadro_saldo">
        <button id="bot_saldo">
          <div class="saldo"><label th:text="${saldo}" name="saldo" id="saldo"/> €</div>
          <div class="btn_ingresar"><b>Saldo</b></div>
        </button>
      </div>

      <div class="cuadro_usuario">
        <botton id="bot_usuario" class="hm-MainHeaderMembersWide_ButtonWrapper">
          <img id="icono_usuario" src="PaginaPrincipal/Imagenes/icono3.png" />
        </botton>
      </div>

      <div id="menu" class="menu">
        <p id="username">Bienvenido <span th:text="${usuario}" name="usuario" id="usuario"></span></p>
        <button id="cerrarSesion"><a th:href="@{/login}"> Cerrar Sesión </a></button>
      </div>

    </div>
  </header>

  <main>

    <div class="juegos">
      <div class="juego1">
        
        <a th:href="@{/ruleta/verRuleta(idUsuario=${idUsuario})}">
        <img id="imagen1" src="PaginaPrincipal/Imagenes/juego1.jpg" alt="magen1" onclick="agrandarImagen1()">
        </a>

      </div>
      <div class="juego2 ">

        <a th:href="@{/galgos/verGalgos(idUsuario=${idUsuario})}">
        <img id="imagen2" src="PaginaPrincipal/Imagenes/juego2.jpg" alt="Imagen2" onclick="agrandarImagen2()">
        </a>
      
      </div>
    </div>

  </main>

  <footer>
    <div class="footer-info">
      <ul>
        <li><span>1</span> REGÍSTRATE</li>
        <li><span>2</span> REALIZA TU DEPÓSITO</li>
        <li><span>3</span> JUEGA Y PÁSALA BIEN</li>
      </ul>
  </div>
  <div class="footer-legal">
      <p>OasisGaming.es | Juego responsable Registro General de Interdicciones de Acceso al Juego (RGIAJ) | Dirección General de Ordenación del Juego Juego Seguro | Directorate General for the Regulation of Gambling Jugar bien</p>
      <p>OasisGaming.es es propiedad de y operada por la S.A. Española Digital Distribution Management Ibérica y cuenta con siguientes licencias número 183- 11/GO/A86299112/SGR, NDGAW/00444, NDGAW/00445, NDGAW/00446, LSIN/00084, GA/2018/023, ADC/2018/026, AOC/2018/017 otorgadas por la Dirección General de la Ordenación del Juego de España. Los menores de 18 años tienen prohibido el acceso al sitio web. Al utilizar nuestro sitio web, aceptas que utilicemos nuestras cookies. Para consultar todos los detalles, haz clic aquí.</p>
      <p>En este sitio web se utilizan cookies. Al utilizar este sitio web, aceptas que utilicemos nuestras cookies. Más información aquí</p>
      <p id="p1">OasisGaming © 2022. Todos los derechos reservados.</p>
  </div>
  </footer>

  <script src="PaginaPrincipal/index.js"></script>

</body>

</html>