<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"> </h1>
	<div>
		<form th:action="@{/usuario/actualizar}" method="get">
			
			<br>
			<label>Escriba la nueva contraseña: </label>
			<input name="passwd" type="text" th:value="${passwd}">
			<input name="idUsuario" type="text" th:value="${idUsuario}" style="display: none;">
			<input name="nombre" type="text" th:value="${nombre}" style="display: none;">
			<input name="saldo" type="text" th:value="${saldo}" style="display: none;">
			<br><br>
			<button type="submit"> Aplicar los cambios </button>
			<button type="reset"> Limpiar Campos </button>
		</form>
		<br>
		<button> <a th:href="@{/index}"> Volver atras </a></button>
	</div>
</body>
</html>