body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    font-family: Arial, sans-serif; /* Cambia la fuente del texto */
    overflow-x: hidden; /* Para ocultar el desplazamiento horizontal */
    padding: 0;
  
  }
  
  /*CABECERA*/
  
  header {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: black; /* Fondo semi-transparente */
    height: 111px;
    width:100%;
  }
  
  
  /*LOGO*/
  
  .logo {
    position: absolute;
    top: 0px;
    left: 5px; 
   
  }
  
  #imagen_logo {
    max-width: 170px;
    width: 100%;
    height: auto;
  }

  .botones {
    display:flex;
  }

  /*Retirar Saldo*/
  .cuadro_retirar {
    position: absolute;
    top: 29.5px;
    right: 230px;
  }

  #bot_retirar {
    font-size: 15px;
    width: 100px;
    height: 60px;
    background-color: black;
    border-radius: 50px;
    border: 2px solid grey;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
  }


  #bot_retirar:hover {
    color: white;
    background-color: rgb(49, 41, 41);
    border: 2px solid orangered;
  }

  /*Saldo*/
  .cuadro_saldo {
    position: absolute;
    top: 29.5px;
    right: 105px;
  }

  #bot_saldo {
    font-size: 15px;
    width: 100px;
    height: 60px;
    background-color: lime;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  #bot_saldo:hover {
    color: white;
    background-color: rgb(49, 41, 41);
    border: 2px solid lime;
  }

  /*Usuario*/
  .cuadro_usuario {
    position: absolute;
    top: 26px;
    right: 20px;
  }



  #icono_usuario {
    max-width: 60px;
    width: 100%;
    height: auto;
  }
  #icono_usuario:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el ratón sobre ella */
}

  .menu {
    position: absolute;
    top: 75px;
    right: 10px;
    background-color: black;
    border: 1px solid #ffffff;
    padding: 10px;
  }
  
  .menu.active {
    display: block;
  }
  
  #username {
    color: rgb(255, 255, 255);
  }

  #cerrarSesion {
    line-height: 25px;
    color:rgb(0, 0, 0);
    background-color:lime;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #cerrarSesion:hover {
    color: white;
    background-color: black;
  }




  main {
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    width: 1525px;
    height: 83.4vh;
    background: url("Imagenes/fondo.jpg") ;
    mix-blend-mode: difference;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
  }

  .juegos {
    margin-left: 20px;
    margin-top: 30px;
  }

  .juego1 {
    padding: 10px;
  }

  .juego2 {
    padding: 10px;
  }

#imagen1 {
    max-width: 100%;
    width: 350px;
    height: auto; 
    border-radius: 5px;
    border: 5px solid rgb(49, 6, 59);
  }


#imagen1:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el ratón sobre ella */
    border: 5px solid red;
}

  #imagen2 {
    max-width: 100%;
    width: 350px;
    height: auto; 
    border-radius: 5px;
    border: 5px solid rgb(49, 6, 59); 
  }

  #imagen2:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el ratón sobre ella */
    border: 5px solid red;
}
  footer {
    padding: 20px;
    background-color: black;
    text-align: center;
    width: 100%;
}

.footer-info ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
    padding: 10px;

}

.footer-info ul li {
    margin-bottom: 10px;
    display: inline-block; 
    padding: 5px;

}

.footer-info ul li span {
  padding: 10px;

  color: #fff;
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    border: 2px solid red; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 20px;
    margin-right: 5px; 
}

.footer-legal p {
  padding: 10px;

    margin-bottom: 10px;
    color: #cacaca;

}

#p1{
  color: white;

}


@media only screen and (min-width:420px) and (max-width: 1000px)   {

  body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    font-family: Arial, sans-serif; /* Cambia la fuente del texto */
    overflow-x: hidden; /* Para ocultar el desplazamiento horizontal */
    padding: 0;
  
  }
  
  /*CABECERA*/
  
  header {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: black; 
    height: 111px;
    width:108%;
  }
  
  
  /*LOGO*/
  
  .logo {
    position: absolute;
    top: 15px;
    left: 0px; 
   
  }
  
  #imagen_logo {
    max-width: 120px;
    width: 100%;
    height: auto;
  }

  .botones {
    display:flex;
  }

  /*Retirar Saldo*/
  .cuadro_retirar {
    position: absolute;
    top:36px;
    right: 115px;
  }

  #bot_retirar {
    font-size: 11px;
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 50px;
    border: 2px solid grey;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
  }


  #bot_retirar:hover {
    color: white;
    background-color: rgb(49, 41, 41);
    border: 2px solid orangered;
  }

  /*Saldo*/
  .cuadro_saldo {
    position: absolute;
    top:36px;
    right: 25px;
  }

  #bot_saldo {
    font-size: 11px;
    width: 80px;
    height: 40px;
    background-color: lime;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }


  #bot_saldo:hover {
    color: white;
    background-color: rgb(49, 41, 41);
    border: 2px solid lime;
  }

  /*Usuario*/
  .cuadro_usuario {
    position: absolute;
    top: 40px;
    right: -15px;
  }

  #icono_usuario {
    max-width: 30px;
    width: 100%;
    height: auto;
  }
  #icono_usuario:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el ratón sobre ella */
}

  .menu {
    position: absolute;
    top: 75px;
    right: 10px;
    background-color: black;
    border: 1px solid #ffffff;
    padding: 10px;
  }
  
  .menu.active {
    display: block;
  }
  
  #username {
    color: rgb(255, 255, 255);
    font-size: 11px;
  }

  #cerrarSesion {
    line-height: 25px;
    color:rgb(0, 0, 0);
    background-color:lime;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 11px;

  }

  #cerrarSesion:hover {
    color: white;
    background-color: black;
  }




  main {
    margin: 0 auto;
    padding: 10px;
    max-width: 104.5%;
    height: 83.4vh;
    background: url("Imagenes/fondo.jpg") ;
    mix-blend-mode: difference;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   
  }

  .juegos {
    margin-left: 60px;
    margin-top: 30%;
  }

  .juego1 {
    padding: 10px;
  }

  .juego2 {
    padding: 10px;
  }

#imagen1 {
    max-width: 100%;
    width: 300px;
    height: auto; 
    border-radius: 5px;
    border: 5px solid rgb(49, 6, 59);
  }


#imagen1:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el ratón sobre ella */
    border: 5px solid red;
}

  #imagen2 {
    max-width: 100%;
    width: 300px;
    height: auto; 
    border-radius: 5px;
    border: 5px solid rgb(49, 6, 59); 
  }

  #imagen2:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la imagen al pasar el ratón sobre ella */
    border: 5px solid red;
}

  footer {
    padding: 20px;
    background-color: black;
    text-align: center;
    width: 100%;
}

.footer-info ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
    padding: 10px;

}

.footer-info ul li {
    margin-bottom: 10px;
    display: inline-block; 
    padding: 5px;
    font-size: 11px;

}

.footer-info ul li span {
  padding: 10px;
  color: #fff;
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    border: 2px solid red; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 10px;
    margin-right: 5px; 
}

.footer-legal p {
  padding: 10px;
    margin-bottom: 10px;
    color: #cacaca;
    font-size: 11px;

}

#p1{
  color: white;

}


}